In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.Series([1, 2, 3, 4, 5])

In [ ]:
doubled = data.map(lambda x: x * 2)
print("Doubled Values:")
print(doubled)

Doubled Values:
0    10
1     4
2     6
3     8
4    10
dtype: int64

undefined function

In [ ]:
def square(x):
    return x ** 2

predefined function

In [ ]:
squared = data.map(square)
print("Squared Values:")
print(squared)

Squared Values:
0    25
1     4
2     9
3    16
4    25
dtype: int64

In [ ]:
replace = {1: "one", 2: "two", 3: "three", 4 :'surya'}
replaced = data.map(replace)
print("Replaced Values:")
print(replaced)

Replaced Values:
0      NaN
1      two
2    three
3    surya
4      NaN
dtype: object

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

In [ ]:
column_sum = df.apply(sum, axis=0)
print("Sum of Each Column:")
print(column_sum)

Sum of Each Column:
A     6
B    15
C    24
dtype: int64

In [ ]:
row_sum = df.apply(sum, axis=1)
print("Sum of Each row:")
print(row_sum)

Sum of Each row:
0    12
1    15
2    18
dtype: int64

In [ ]:
def add(x):
    return x + 1

In [ ]:
modified_df = df.applymap(add)
print("DataFrame with All Values Incremented by 1:")
print(modified_df)

DataFrame with All Values Incremented by 1:
   A  B   C
0  2  5   8
1  3  6   9
2  4  7  10

<ipython-input-77-69c19cddb91d>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  modified_df = df.applymap(add)

In [ ]:
df['is_even'] = df['A'].map(lambda x: "Even" if x % 2 == 0 else "Odd")
print("\nDataFrame with Even/Odd Column:")
print(df)

DataFrame with Even/Odd Column:
   A  B   C is_even
0  1  4   7     Odd
1  2  5   8    Even
2  3  6  10     Odd

In [ ]:
def categorize(row):
    return "High" if row['B'] > 4 else "Low"

df['Category'] = df.apply(categorize, axis=1)
print("DataFrame with Category Based on 'B':")
print(df)

DataFrame with Category Based on 'B':
   A  B  C is_even Category
0  1  4  7     Odd      Low
1  2  5  8    Even     High
2  3  6  9     Odd     High

In [ ]:

data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})


data['Name'] = data['Name'].map(str.upper)


def salary_category(salary):
    if salary < 55000:
        return 'Low'
    elif 55000 <= salary <= 65000:
        return 'Medium'
    else:
        return 'High'

data['Salary Category'] = data['Salary'].apply(salary_category)
print("\nDataFrame with Processed Text and Salary Category:")
print(data)

DataFrame with Processed Text and Salary Category:
      Name  Age  Salary Salary Category
0    ALICE   25   50000             Low
1      BOB   30   60000          Medium
2  CHARLIE   35   70000            High